@import "../../constants//variables.scss";

.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: $color-first-pink; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      $color-second-pink,
      color-third-pink
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      $color-second-pink,
      color-third-pink
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  